<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Home</title>
    <style>
        .bgImgCenter{
          background-image: url("women.jpg");
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
      }
      .bg-company-blue{
        background-color:#ffbf00;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid #ffbf00;
        color : black;
      }
      #postBtn{
        border-color: green;
        border-radius:15px;
        color:green;
        padding-right:30px;
        padding-left:30px;
        
       
      }
      #postBtn:hover{
        background-color: white;
      }
      #cancelBtn{
        border-color: red;
        color:red;

      }
      #cancelBtn:hover{
        color:white;
        background-color: red;
      }
      input {
		outline: none;
		border: none;
	  }
      .input-100 {
		  line-height: 1.5;
		  color: #666666;
		  display: block;
		  width: 500px;
		  background: #e6e6e6;
		  height: 50px;
		  border-radius: 25px;
		  padding: 0 30px 0 68px;
		}
		.input-100:focus {
  			border-color: green;
		}
      

    </style>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAiT Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/reportAbuse}">Report An Abuse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/ventPage}">Vent Here!</a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" th:href="@{/commentVents}">Comment on Vents</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}" >LOG OUT</a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>
  
  
  <form method="POST" th:object="${commentStudent}" th:action="@{/commentVents}">
  <div class="container" style="padding:3%; margin-top:0.1%; background-color:rgb(255,191,0,0.55); border-radius:5px;">

  <div class="form-group row">
    <input class="input-100" type="text" placeholder="Enter a comment for a recent vent" th:field=*{commentMessage}>
    <button id="postBtn" style="margin-left:5%;" class="btn btn-outline-info" name="post">POST</button>
  </div>
  
  <div class="card">
  <div class="card-header">
    Comment, Discuss on Vents and Support Others!
  </div>
  <div class="card-body">
  	<div th:each="vent : ${postedVents}">
    	<h5 class="card-title" th:utext="'Vent- '+${vent.ventMessage} +'   <br> Date- '+${vent.createdAt}">Special title treatment</h5>
    </div>
  </div>
  <div  th:each="comment:${postedComments}">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title" th:text="${comment.user.firstName}+' '+${comment.user.lastName}">Panel title</h5>
    <p class="card-text" th:text="${comment.commentMessage}">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
    <footer class="blockquote-footer" th:text="${comment.createdAt}">Someone famous in </footer>
  </div>
</div>
</div>
</div>
  
  
  
</div> 
</form>

   </body>
    <script src="jquery/slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </html>
