<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Home</title>
    <style>
      .bgImgCenter{
          background-image: url("women.jpg");
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
      }
      .bg-company-blue{
        background-color:#ffbf00;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid #ffbf00;
        color : black;
      }
    </style>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAiT Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/reportAbuse}">Report An Abuse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/ventPage}">Vent Here!</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}" >LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>
  <div style="background-image: url('images/women.jpg');background-size:cover;height: 600px; width: 100%; background-repeat: no-repeat;
  background-position: center; ">
  <div style="background-color: rgba(0,0,0,0.55);height: 600px; width: 100%;
  ">
  <div style="float:right; height:600px; width:350px; background-color:white">
    <h3 class="card-text py-2 bg-company-blue text-center" style="color:white;">Woman of the Week</h3>

            <div class="thumbnail">
                <div class="py-2">
                    <h4 class="text-center">Rosa Parks</h4>
                </div>
                    <img src="images/rosa.jpg" class="rounded-circle" alt="Woman of the Week" style="height:215px; width:270px; margin-right: 7%; margin-left:7%;">
                    <div class="container">
                      <hr>
                      <p>
                        Rosa Louise McCauley Parks (February 4, 1913 – October 24, 2005) was an American activist in the civil rights movement best known for her pivotal role in the Montgomery bus boycott. The United States Congress has called her "the first lady of civil rights" and "the mother of the freedom movement".
                      </p>
                      <hr>
                    </div>
                
            </div>


  </div>
  </div>
  </div>


    </body>
    <script src="jquery/slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </html>
