<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Home</title>
    <style>
        .bgImgCenter{
          background-image: url("women.jpg");
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
      }
      .bg-company-blue{
        background-color:#ffbf00;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid #ffbf00;
        color : black;
      }
      #postBtn{
        border-color: green;
        color:green;
        margin-top:1.5%;
        margin-right: 50px;
      }
      #postBtn:hover{
        background-color: white;
      }
      #cancelBtn{
        border-color: red;
        color:red;

      }
      #cancelBtn:hover{
        color:white;
        background-color: red;
      }

    </style>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAiT Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/reportAbuse}">Report An Abuse</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/ventPage}">Vent Here!</a>
        </li>
         <li class="nav-item ">
          <a class="nav-link" th:href="@{/commentVents}">Comment on Vents</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}" >LOG OUT</a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>
  
  <nav th:if="${success!='empty'}"  class="navbar navbar-light bg-light" >
		<a class="navbar-brand" href="#">
			<h1 th:text="${success}" style="color: green; margin-top:3%;"></h1>
		</a>
 </nav>
  
  <form method="POST" th:object="${ventAdmin}" th:action="@{/ventPage}">
  <div class="container" style="padding:3%; margin-top:0.1%; background-color:rgb(255,191,0,0.55); border-radius:5px;">

  <div class="form-group row">
    <label for="dateAbuse"> Please enter the message you want to vent: </label>
    <textarea class="form-control" th:field="*{ventMessage}"></textarea>
    <button id="postBtn" class="btn btn-outline-info" name="post">Send Vent</button>
  </div>
  
  
  
</div> 
</form>
<nav th:if="${success!='empty'}"  class="navbar navbar-light bg-light" >
		<a class="navbar-brand" href="#">
		</a>
 </nav>
   </body>
    <script src="jquery/slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </html>
