<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Home</title>
    <style>
        .bgImgCenter{
          background-image: url("women.jpg");
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
      }
      .bg-company-blue{
        background-color:#ffbf00;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid #ffbf00;
        color : black;
      }
      #postBtn{
        border-color: green;
        color:green;
        margin-right: 50px;
      }
      #postBtn:hover{
        background-color: white;
      }
      #cancelBtn{
        border-color: red;
        color:red;

      }
      #cancelBtn:hover{
        color:white;
        background-color: red;
      }
      table{
      	counter-reset:section;
      }
      .count:before{
      	counter-increment:section;
      	content: counter(section);
      }

    </style>

  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAiT Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/viewReports}">View Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/viewVents}">View Vents</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}" >LOG OUT</a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>
  <div class="container">
  	 
      <div th:if="${vents == 'empty'}" style="background-color:rgb(255,191,0); padding:4%; border-radius:13px; margin-bottom:4%;">
    	<h3>No reports available</h3>
      </div>
      <table th:if="${vents != 'empty'}" class="table">
	      <thead>
	      <tr> 
	      <th scope="col">No.</th>
	      <th scope="col">Student's Name</th>
	      <th scope="col">Email</th>
	      <th scope="col">Vent Message</th>
	      <th scope="col">Sent Date</th>
	      <th scope="col"></th>
	      </tr>
	      </thead>
	      <tbody>
	      <tr th:each="post : ${vents}">
	      
	      <th scope="row" class="count" ></th>
	      <td th:text="${post.user.firstName}+' '+${post.user.lastName}">No details to display</td>
	      <td th:text="${post.user.email}">No details to in input</td>
	      <td th:text="${post.ventMessage}">No details to display</td>
	      <td th:text="${post.createdAt}">No details to in input</td>
	      <form method="POST" th:action="@{/viewVents}">
	          <input type="hidden" name="a_id" th:value="${post.id}">
		      <td><button id="editBtn" class="btn btn-outline-info" name="post">Post Vent</button></td>
	      </form>
	      </tr>
	      </tbody>
      </table>
  </div>
  
  </body>
    <script src="jquery/slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </html>
