<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Site made with Mobirise Website Builder v4.9.6, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.9.6, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo4.png" type="image/x-icon">
  <meta name="description" content="Web Site Builder Description">
  
  <title>Page 2</title>
  <link rel="stylesheet" th:href="@{/assets/web/assets/mobirise-icons/mobirise-icons.css}">
  
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
  <link rel="stylesheet" th:href="@{/assets/socicon/css/styles.css}">
  <link rel="stylesheet" th:href="@{/assets/dropdown/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/theme/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css">
  
  
  
</head>
<body>
  <section class="menu cid-rkWcYyFE2C" once="menu" id="menu1-19">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-info display-5" href="https://mobirise.co">Home</a>
                </li><li class="nav-item"><a class="nav-link link text-info display-5" href="https://mobirise.co">Report Abuse</a></li><li class="nav-item"><a class="nav-link link text-info display-5" href="https://mobirise.co">
                        Vent Here</a></li><li class="nav-item"><a class="nav-link link text-info display-5" href="#">
                        Services
                    </a></li><li class="nav-item"><a class="nav-link link text-info display-5" href="#">
                        About US</a></li>
                <li class="nav-item">
                    <a class="nav-link link text-info display-5" href="#">
                        LOGIN</a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="tel:+1-234-567-8901">
                    <span class="btn-icon mbri-mobile mbr-iconfont mbr-iconfont-btn">
                    </span>
                    +251-934-567-89
                </a></div>
        </div>
    </nav>

</section>
<form method="POST" action="/reportAbuse"><input type="hidden" name="_csrf" value="77fa7129-ba6a-45df-9eb3-64bf73a4628f">
  <div class="container" style="padding:8%; margin-top:0.1%; background-color:rgb(255,191,0,0.55); border-radius:5px;">

  <div class="form-group row">
    <label for="dateAbuse"> Please enter the date when the abuse happened </label>
    <input type="date" class="form-control" id="abuseDate" name="abuseDate" value="">
  </div>
  <div class="form-group row">
    <label for="typeAbuse"> Please enter the type of the abuse that happened to you- </label>
    <select id="abuseType" name="abuseType">
      <option value="Physical">Physical</option>
	    <option value="Verbal">Verbal</option>
	    <option value="Sexual">Sexual</option>
	    <option value="Other">Other</option>
    </select>
  </div>
  <div class="form-group row">
    <label for="personAbuse"> Please enter the name(s) of the person that caused the abuse</label>
    <input type="text" class="form-control" placeholder="Enter name" id="abuser" name="abuser" value="">
  </div>

  <div class="form-group row">
    <label for="eventDetail"> Please enter a description of the abuse</label>
    <textarea class="form-control" placeholder="Input the details about what happened" style="height:180px;" id="description" name="description"></textarea>
  </div>

  <div class="buttons">
	        <button id="postBtn" class="btn btn-outline-info" name="post">Post</button>
          <a id="cancelBtn" class="btn btn-outline-danger" href="/reportAbuse">Clear</a>
  </div>
  
</div> 
</form>


  <section class="engine"><a href="https://mobirise.info/z">best website templates</a></section><script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
</body>
</html>