<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  

  
  <title>Page 3</title>
  
  
  <link rel="stylesheet" th:href="@{/assets/web/assets/mobirise-icons/mobirise-icons.css}">
  
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
  <link rel="stylesheet" th:href="@{/assets/socicon/css/styles.css}">
  <link rel="stylesheet" th:href="@{/assets/dropdown/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/theme/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css">
  
  
  
</head>


    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-info display-5" href="https://mobirise.co">Home</a>
                </li><li class="nav-item"><a class="nav-link link text-info display-5" href="https://mobirise.co">Report Abuse</a></li><li class="nav-item"><a class="nav-link link text-info display-5" href="https://mobirise.co">
                        Vent Here</a></li><li class="nav-item"><a class="nav-link link text-info display-5" href="#">
                        Services
                    </a></li><li class="nav-item"><a class="nav-link link text-info display-5" href="#">
                        About US</a></li>
                <li class="nav-item">
                    <a class="nav-link link text-info display-5" href="#">
                        LOGIN</a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="tel:+1-234-567-8901">
                    <span class="btn-icon mbri-mobile mbr-iconfont mbr-iconfont-btn">
                    </span>
                    +251-934-567-89
                </a></div>
        </div>
    </nav>


<section class="engine"><a href="#">html5 templates</a></section>
<section class="cid-rkV05b6lka mbr-fullscreen mbr-parallax-background" id="header2-o">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    AAIT Women's Community</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">ADDIS ABABA UNVIERSITY estabilish&nbsp;academic unit that carries out research on gender issues, and the Gender Office as a university organ indicates the University’s commitment to address gender issues.</p>
                
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="features11 cid-rkV69udGG8" id="features11-p">

    

    

    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure m-auto" style="width: 50%;">
                    <img src="assets/images/rosaparks-526x636.jpg" alt="Mobirise" title="">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">
                        Women of the Week</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-5">
                        Rosa Parks Day - It all started on a bus
                        </p>
                    </div>

                    <div class="block-content">
                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class=" align-self-center card-img pb-3">
                                    <span class="mbri-extension mbr-iconfont"></span>
                                </div>     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">ROSA PARK</h4>
                                </div>
                            </div>                

                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">On December 1, 1955, African American seamstress Rosa Parks was travelling in a Montgomery City bus when the bus driver asked her to vacate her seat for a white man. The driver's request was standard practice of racial segregation in buses at the time. Rosa Parks refused to leave her seat on the grounds of fairness, freedom and equality. As a result, she was arrested and convicted of violating the laws of segregation, known as the "Jim Crow" laws. She appealed her conviction and formally challenged the legality of segregation. At the same time, civil rights activists, including Martin Luther King Jr., boycotted the Montgomery bus system.
<br>
<br>The boycott lasted for 381 days, into December 1956, when the U.S. Supreme Court ruled that the segregation law was unconstitutional and the Montgomery buses should be integrated. This boycott kick-started other civil rights protests throughout the U.S. Over the years, Rosa Parks has become an important symbol of the fight for equal rights.
<br>
<br>Today, we have reserved a seat in honor of Rosa Parks near the front of each coach. We welcome folks to sit in this seat, as Rosa Parks courage helped to ensure it would be available for all.</p>
                            </div>
                        </div>

                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbri-drag-n-drop2 mbr-iconfont"></span>
                                </div>     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7"></h4>
                                </div>
                            </div>                

                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>          
</section>

<section class="mbr-section content4 cid-rkV8xywQJO" id="content4-q">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Addis Ababa University Gender Policy</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Addis Ababa University, Gender Office | November 2015 empowerment, gender as a cross-cutting issue in all sectors and levels, the guiding principles for AAUGP are:  women/girls and men/boys in the University are not a homogenous group as a result of diverse men's.socio-economic and cultural background;  gender equality means that the different behavior, aspirations and needs of women and men are considered, valued and favored equally;  transformation in individual consciousness about gender equality and women’s rights as well as organizational culture and governance are a prerequisite for gender equality and women’s empowerment; and  sustainable development and institutional transformation is possible only if based on equal partnership and mutual respect between women and men's.<br><br><br><strong>Policy Mission</strong></h3>
<div>AAU is committed to establish institutional culture that ensures gender equality among students, academic and administrative staff members.</div>
<div><strong><br></strong></div><br><div><strong>Objectives
</strong></div><div>The overall objective of this policy is to address gender imbalances in all areas of the University, such as academic, research, community services, and decision-making bodies so that gender responsive environment could be guaranteed or secured. The specific policy objectives are to: </div><div><br></div><div> ensure friendly environment for women/girls;  increase women’s participation in decision-making bodies;  institutionalize gender mainstreaming in all university activities;  create awareness of AAU staff and students on gender issues’ and  ensure women’s/girls’ access to institutional resources.
</div><div><br></div><br><div><strong>GUIDING PRINCIPLES
</strong></div><div>In line with the National Constitution (1995) and the National Women’s Policy (1993), which addresses gender equality and equity, affirmative action.</div>
                
            </div>
        </div>
    </div>
</section>

<section class="cid-rkVdjIXhhm mbr-fullscreen mbr-parallax-background" id="header2-u">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">WHAT MEN CAN DO TO END VIOLENCE AGAINST WOMEN</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Words are very powerful, especially when spoken by people with power over others. We live in a society in which words are often used to put women down, where calling a girl or woman a “bitch,” “freak,” “whore,” “baby,” or “dog” is common. Such language sends a message that females are less than fully human. When we see women as inferior, it becomes easier to treat them with less respect, disregard their rights, and ignore their well-being.
<br>Don’t fund sexism. Refuse to purchase any magazine, rent any video, subscribe to any Web site, or buy any music that portrays girls or women in a sexually degrading or abusive manner.Think about how eroticizing violent sex contributes to violence against women</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="https://mobirise.co">LEARN MORE</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="cid-rkVzUfpgtA" id="footer5-v">

    

    

    <div class="container">
        <div class="media-container-row">
            
            <div class="col-md-9">
                <p class="mbr-text align-right links mbr-fonts-style display-7">
                    <a href="#" class="text-black">ABOUT</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">TERMS</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">CAREERS</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">CONTACT</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-md-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2019 AAU - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.behance.net/Mobirise" target="_blank">
                                <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



	<script th:src="@{js/slim.min.js}"></script>
  <script th:src="@{/assets/web/assets/jquery/jquery.min.js}"></script>
  <script th:src="@{/assets/popper/popper.min.js}"></script>
  <script th:src="@{/assets/tether/tether.min.js}"></script>
  <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/assets/dropdown/js/script.min.js}"></script>
  <script th:src="@{/assets/touchswipe/jquery.touch-swipe.min.js}"></script>
  <script th:src="@{/assets/parallax/jarallax.min.js}"></script>
  <script th:src="@{/assets/smoothscroll/smooth-scroll.js}"></script>
  <script th:src="@{/assets/theme/js/script.js}"></script>
  
  
</body>
</html>